
@tailwind base;
@tailwind components;
@tailwind utilities;

.bn-year-dropdown::hover{
    cursor:pointer;
}

.bn-year-dropdown-button{
    padding: 5px 7px;
    font-size: 14px;
}

.bn-list-cell{
    color:rgb(31, 31, 31);
    font-size: 14px;
}

.bn-list-cell-name{
    font-size: 16px;
}

input {
    font-size: 14px;
}

.bn-list-cell-probable input {
    font-size: 14px;
}

.grid{
    gap: 25px;
}

.bn-list-head,



