
@tailwind base;
@tailwind components;
@tailwind utilities;

.bn-year-dropdown::hover{
    cursor:pointer;
}

.bn-year-dropdown-button{
    padding: 5px 7px;
    font-size: 14px;
}

.bn-list-cell,
.editable {
    color:rgb(31, 31, 31);
    font-size: 14px;
}

.bn-list-cell-name{
    font-size: 16px;
}

.bn-list-cell-name:hover{
    text-decoration:none !important;
}

.grid{
    gap: 5px;
}

.bn-list-head,
.bn-list-row,
.bn-sublist {
    width:fit-content;
}

.bn-list-row:hover,
.bn-sublist-row:hover{
    background-color:#e0e8f5a9 !important;
}

.bn-sublist-cell-name{
    cursor:default;
}

/*----Annual Budget----*/
.bn-annual-budget-numerator{
    font-size:32px;
}

.bn-annual-budget-remaining{
    font-size:13px;
    background-color:rgba(208, 255, 208, 0.846);
    color:rgb(62, 97, 62);
    border: 1px solid rgba(62, 97, 62, 0.267);
}

.bn-annual-budget-remaining--over{
    background-color:rgb(255, 215, 215);
    color:rgb(123, 52, 52);
    border: 1px solid rgba(164, 41, 41, 0.348);
}

.bn-annual-budget-caption{
    font-size:11px;
}

.bn-annual-budget{
    width:fit-content;
}


